/********** Typography **********/
body {
    padding-top: 100px;
    background: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #282828;
    line-height: 26px;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}
a {
    color: #45aed6;
    -webkit-transition: color 400ms, background-color 400ms;
    -moz-transition: color 400ms, background-color 400ms;
    -o-transition: color 400ms, background-color 400ms;
    transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #2a95be;
}
hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}
.gradiant {
    background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
    background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
    background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.gradiant-horizontal {
    background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
    background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
    background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}
.section-header {
    margin-bottom: 50px;
}
.section-header p{
    text-align:center;
}
.section-header .section-title {
    font-size: 44px;
    color: #F9690E;
    position: relative;
    padding-bottom: 20px;
    margin: 0 0 20px;  
    display: block;
    text-align: center;
}
.section-header .section-title:before {
    content: "";
    position: absolute;
    width: 140px;
    bottom: -5px;
    right: 0;
    width: 30px;
    background: rgb(249, 105, 14);
    border-radius: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 10px;
}
.btn {
    border-width: 0;
    border-radius: 0;
}
.btn.btn-primary {
    background: #CD4F00;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background: #FF8A41;
}
.listarrow {
    padding:0px;
}
.listarrow li {
    list-style:none;
    margin:0px;
    padding:0px;
}
.listarrow li i {
    padding-right:15px;
    color: #F9690E;
}
.column-title {
    margin-top: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    position: relative;
    color: #fff;
}
.column-title:after {
    content: " ";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 40%; 
}
ul.nostyle {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}
ul.nostyle i {
    color: #45aed6;
}
.scaleIn {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
}
.navbar-toggle {
    border-radius: 0;
}
.navbar-nav>li>a {
    text-transform: uppercase;
}
@-webkit-keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

/* Responsive Web Design */
/********** Logo **********/
#main-nav.navbar-default .navbar-header > .navbar-brand > img {
    width: 60px;
}
#main-nav.navbar-default .navbar-header > .navbar-brand > strong {
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 24px;
    display: block;
}
/********** Header **********/
#main-nav.navbar-default {
    background: #FFFFFF;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.26);
}
#main-nav.navbar-default .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #0E0E0E;
}
#main-nav.navbar-default .navbar-nav > li.active > a,
#main-nav.navbar-default .navbar-nav > li.open > a,
#main-nav.navbar-default .navbar-nav > li:hover > a {
    color: rgb(128, 0, 128);
    background: transparent; 
}
.navbar.navbar-default .navbar-brand {
    height: auto;
}
/********** Banner **********/
#hero-banner {
    overflow: hidden;
    background: url('../images/group.jpg');
    color: rgb(255, 255, 255);
    height: 600px;
    background-size: 420px, auto;
}
#hero-banner > .container {
    padding-top: 190px;
}
#hero-banner h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    text-align: left;
}
#hero-banner h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 22px;
    line-height: 40px;
    text-align: left;  
}
#hero-banner img {
    height: 300px;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    /********** Banner **********/
    #hero-banner {
        height: 700px;
        background-size: 360px, auto;
    }
    #hero-banner > .container {
        padding-top: 300px;
    }
    #hero-banner h2 {
        padding-top: 20px;
        padding-bottom: 18px;
        font-size: 38px;
        text-align: left;
    }
    #hero-banner h3 {
        font-size: 20px;
        line-height: 35px; 
        text-align: left;  
    }
    #hero-banner img {
        height: 280px;
    }
}

@media (max-width: 992px) {
    /********** Banner **********/
    #hero-banner {
        height: 700px;
        background-size: 300px, auto;
    }
    #hero-banner > .container {
        padding-top: 300px;
    }
    #hero-banner h2 {
        padding-top: 0px;
        padding-bottom: 18px;
        font-size: 38px;
        text-align: left;
    }
    #hero-banner h3 {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 30px; 
        text-align: left;
    }
}

@media (max-width: 768px){
    /********** Header **********/
    #main-nav.navbar-default .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: #0E0E0E;
    }
    #main-nav.navbar-default .navbar-nav > li.active > a, 
    #main-nav.navbar-default .navbar-nav > li.open > a, 
    #main-nav.navbar-default .navbar-nav > li:hover > a {
        color: rgb(128, 0, 128);
        background: rgb(245, 245, 220);
    }
    .navbar.navbar-default .navbar-brand {
        margin-right: -15px;
        margin-bottom: 10px;
        height: auto;
    }
    .navbar.navbar-default .navbar-toggle {
        margin-top: 25px;
    }
    /********** Banner **********/
    #hero-banner {
        height: 670px;
        background-size: 200px, auto;
    }
    #hero-banner > .container {
        padding-top: 180px;
    }
    #hero-banner h2 {
        padding-top: 0px;
        padding-bottom: 18px;
        font-size: 30px;
        text-align: center;
    }
    #hero-banner h3 {
        margin-top: 12px;
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 30px; 
        text-align: center;
    }
    #hero-banner img {
        height: 230px;
        display: block;
        margin: auto;
    }
}




/********** Banner **********/

/* #hero-banner.banner-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000;
} */
/* #hero-banner h2 {
    margin-top: 180px;
    font-size: 40px;
    line-height: 50px; 
    text-align: left;
}
#hero-banner h3 {
    font-size: 24px;
    line-height: 30px; 
    text-align: left;  
}
#hero-banner img {
    height: 300px;
    margin-top: 200px;
    display: block;
    border-radius: 10px;
}
#hero-banner p { 
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 35px;
    text-align: left;
}
#hero-banner a {
    width: 150px;
    margin: 0;
    display: block;
    background: transparent;
    border: 2px solid #fff;
    float: left;
}
#hero-banner a:hover {
    text-align: center;
    width: 150px;
    margin: 0 auto;
    display: block;
    background: #F9690E;
    border: 2px solid #F9690E;
    color: #FFF;
}
#hero-banner.banner-inner h2 > span {
    color: #45aed6;
}
#hero-banner.banner-inner .btn {
    margin-top: 10px;
}  */
