/********** Typography **********/
body {
    padding-top: 100px;
    background: url('../images/background/background.jpg');
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #282828;
    line-height: 26px;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}
a {
    color: #4f4f4f;
    -webkit-transition: color 400ms, background-color 400ms;
    -moz-transition: color 400ms, background-color 400ms;
    -o-transition: color 400ms, background-color 400ms;
    transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #2a95be;
}
hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* table {
    border-collapse: collapse;
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid black;
    font-size: 16px;
}
th {
    background-color: #cccccc;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
} */
.gradiant {
    background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
    background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
    background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.gradiant-horizontal {
    background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
    background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
    background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}
.section-header {
    margin-bottom: 50px;
}
.section-header p{
    text-align:center;
}
.section-header .section-title {
    font-size: 44px;
    color: #F9690E;
    position: relative;
    padding-bottom: 20px;
    margin: 0 0 20px;  
    display: block;
    text-align: center;
}
.section-header .section-title:before {
    content: "";
    position: absolute;
    width: 140px;
    bottom: -5px;
    right: 0;
    width: 30px;
    background: rgb(249, 105, 14);
    border-radius: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 10px;
}
.btn {
    border-width: 0;
    border-radius: 0;
}
.btn.btn-primary {
    background: #CD4F00;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background: #FF8A41;
}
.listarrow {
    padding:0px;
}
.listarrow li {
    list-style:none;
    margin:0px;
    padding:0px;
}
.listarrow li i {
    padding-right:15px;
    color: #F9690E;
}
.column-title {
    margin-top: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    position: relative;
    color: #fff;
}
.column-title:after {
    content: " ";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 40%; 
}
ul.nostyle {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}
ul.nostyle i {
    color: #45aed6;
}
.scaleIn {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
}
.navbar-toggle {
    border-radius: 0;
}
.navbar-nav>li>a {
    text-transform: uppercase;
}
@-webkit-keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

/* Responsive Web Design */
/********** Logo **********/
#main-nav.navbar-default .navbar-header > .navbar-brand > img {
    width: 50px;
}
#main-nav.navbar-default .navbar-header > .navbar-brand > strong {
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 24px;
    display: block;
}
/********** Header **********/
#main-nav.navbar-default {
    background: #FFFFFF;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.26);
}
#main-nav.navbar-default .navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    color: #0E0E0E;
}
#main-nav.navbar-default .navbar-nav > li.active > a,
#main-nav.navbar-default .navbar-nav > li.open > a,
#main-nav.navbar-default .navbar-nav > li:hover > a {
    color: rgb(51,   64, 159);
    /* color: #4D6E8E; */
    background: transparent; 
}
.navbar.navbar-default .navbar-brand {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
/********** Banner **********/
#banner {
    overflow: hidden;
    background: url('../images/background/banner.jpg');
    color: rgb(255, 255, 255);
    height: 600px;
    background-size: 420px;
}
#banner > .container {
    padding-top: 190px;
}
#banner h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    text-align: left;
}
#banner h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 22px;
    line-height: 40px;
    text-align: left;  
}
#banner img {
    height: 300px;
    border-radius: 10px;
}
/********** Block & Container **********/
.block {
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
}
.block > .container {
    background: #F5F5F5;
    width: auto;
    color: #4F4F4F;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.26);
}
.block > .container > h2 {
    font-size: 34px;
    margin-bottom: 40px;
    text-align: center;
}
.block > .container li {
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 20px;
}
.block > .container li > p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0px;
}
/********** Tab **********/
.tab {
    display: flex;
    flex-direction: column;
}
.tab-all-links {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab-all-contents {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-top: none;
}
.tab-link {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
}
.tab-link:hover {
    background-color: #ddd;
}
.tab-link.active {
    background-color: #ccc;
}
.tab-content {
    display: none;
    padding: 8px 16px;
}
.tab-content.active {
    display: block;
}
/********** Table **********/
.rg-container {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding-top: 20px;
}
table.rg-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
table.rg-table tr {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: left;
    color: #333;
}
table.rg-table thead {
    border-bottom: 3px solid #ddd;
}
table.rg-table tr {
    border-bottom: 1px solid #ddd;
    color: #222;
}
table.rg-table tr.highlight {
    background-color: #dcf1f0 !important;
}
table.rg-table.zebra tr:nth-child(even) {
    background-color: #f6f6f6;
}
table.rg-table th {
    text-align: center;
    font-weight: bold;
    padding: 0.35em;
    font-size: 0.9em;
}
table.rg-table td {
    text-align: center;
    padding: 10px 0px;
    font-size: 0.9em;
}
table.rg-table .highlight td {
    font-weight: bold;
}
table.rg-table th.number, td.number {
    text-align: right;
}
/********** Experience **********/
#experiences .e-container {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    margin: 50px 80px;
}
#experiences .e-container > div {
    margin: 15px 0px;
    padding: 10px 0px;
    border-bottom: 3px solid #ccc;
}
#experiences .e-container > hr {
    border: 1px solid #000;
    border-bottom: 1px solid #fff;
    margin: 0px;
}
#experiences .e-year {
    float: right;
    width: 110px;
    font-weight: bold;
    font-size: 18px;
    color: #777;
    margin-bottom: 10px;
}
#experiences .e-title {
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #333;
}
#experiences .e-description {
    display: block;
    color: #777;
    font-size: 16px;
    margin-bottom: 0px;
}
/********** Research **********/
#research img {
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin: auto;
    border-radius: 8px;
    /* border-width: 5px;
    border-style: solid; */
}
#research h4 {
    text-align: center;
    font-size: 18px;
    line-height: 60px;
}
#research .text-container {
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/********** Footer **********/
#footer {
    background: #4D6E8E;
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    /* height: 92px; */
}
#footer p {
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    text-align: center;
}

@media (max-width: 1200px) {
    /********** Banner **********/
    #banner {
        background-size: 360px, auto;
    }
    #banner h2 {
        padding-top: 20px;
        padding-bottom: 18px;
        font-size: 38px;
    }
    #banner h3 {
        font-size: 20px;
        line-height: 35px; 
    }
    #banner img {
        height: 280px;
    }
    /********** Block & Container **********/
    .block > .container {
        width: auto;
        margin-left: 40px;
        margin-right: 40px;
    }
    .block > .container > h2 {
        font-size: 30px;
    }
    .block > .container li {
        font-size: 18px;
    }
    .block > .container li > p {
        font-size: 14px;
    }
    /********** Tab **********/
    .tab-link {
        font-size: 18px;
    }
    /********** Experience **********/
    #experiences .e-container {
        margin: 50px 70px;
    }
    #experiences .e-year {
        font-size: 17px;
    }
    #experiences .e-title {
        font-size: 20px;
    }
    #experiences .e-description {
        font-size: 15px;
    }
}

@media (max-width: 992px) {
    /********** Logo **********/
    #main-nav.navbar-default .navbar-header > .navbar-brand > strong {
        display: none;
    }
    /********** Banner **********/
    #banner {
        background-size: 300px, auto;
    }
    #banner h2 {
        padding-top: 0px;
        padding-bottom: 10px;
        font-size: 34px;
    }
    #banner h3 {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 22px;
    }
    #banner img {
        height: 240px;
    }
    /********** Block & Container **********/
    .block > .container {
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }
    .block > .container > h2 {
        font-size: 28px;
    }
    .block > .container li {
        font-size: 16px;
    }
    .block > .container li > p {
        font-size: 12px;
    }
    /********** Tab **********/
    .tab-link {
        font-size: 16px;
        padding: 12px 14px;
    }
    /********** Table **********/
    .rg-container {
        max-width: 600px;
        margin: 0 auto;
    }
    table.rg-table {
        width: 100%;
    }
    table.rg-table tr.hide-mobile,
    table.rg-table th.hide-mobile,
    table.rg-table td.hide-mobile {
        display: none;
    }
    table.rg-table thead {
        display: none;
    }
    table.rg-table tbody {
        width: 100%;
    }
    table.rg-table tr,
    table.rg-table th,
    table.rg-table td {
        display: block;
        padding: 0;
    }
    table.rg-table tr {
        border-bottom: none;
        margin: 0 1em 1em 1em;
        padding: 0.5em;
    }
    table.rg-table tr.highlight {
        background-color: inherit !important;
    }
    table.rg-table.zebra tr:nth-child(even) {
        background-color: transparent;
    }
    table.rg-table.zebra td:nth-child(even) {
        background-color: #f6f6f6;
    }
    table.rg-table tr:nth-child(even) {
        background-color: transparent;
    }
    table.rg-table td {
        padding: 0.5em 0 0.25em 0;
        border-bottom: 1px dotted #ccc;
        text-align: right;
    }
    table.rg-table td[data-title]:before {
        content: attr(data-title);
        font-weight: bold;
        display: inline-block;
        content: attr(data-title);
        float: left;
        margin-right: 0.5em;
        font-size: 0.95em;
    }
    table.rg-table td:last-child {
        padding-right: 0;
        border-bottom: 2px solid #ccc;
    }
    table.rg-table td:empty {
        display: none;
    }
    table.rg-table .highlight td {
        background-color: inherit;
        font-weight: normal;
    }
    /********** Experience **********/
    #experiences .e-container {
        margin: 50px 20px;
    }
    #experiences .e-year {
        font-size: 16px;
    }
    #experiences .e-title {
        font-size: 19px;
    }
    #experiences .e-description {
        font-size: 14px;
    }
}

@media (max-width: 768px){
    /********** Logo **********/
    #main-nav.navbar-default .navbar-header > .navbar-brand > strong {
        display: block;
    }
    /********** Header **********/
    #main-nav.navbar-default .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: #0E0E0E;
    }
    #main-nav.navbar-default .navbar-nav > li.active > a, 
    #main-nav.navbar-default .navbar-nav > li.open > a, 
    #main-nav.navbar-default .navbar-nav > li:hover > a {
        background: rgba(112, 128, 144, 0.8);
        color:rgb(255, 255, 255);
    }
    .navbar.navbar-default .navbar-brand {
        margin-right: -15px;
        height: auto;
    }
    .navbar.navbar-default .navbar-toggle {
        margin-top: 25px;
    }
    /********** Banner **********/
    #banner {
        height: 670px;
        background-size: 200px, auto;
    }
    #banner > .container {
        padding-top: 170px;
    }
    #banner h2 {
        padding-top: 0px;
        padding-bottom: 18px;
        font-size: 30px;
        text-align: center;
    }
    #banner h3 {
        margin-top: 12px;
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 30px; 
        text-align: center;
    }
    #banner img {
        height: 230px;
        display: block;
        margin: auto;
    }
    /********** Block & Container **********/
    .block > .container {
        padding-left: 20px;
        padding-right: 20px;
        width: auto;
        margin-left: 0px;
        margin-right: 0px;
    }
    .block > .container > h2 {
        font-size: 28px;
    }
    .block > .container li {
        font-size: 16px;
    }
    .block > .container li > p {
        font-size: 12px;
    }
    /********** Tab **********/
    .tab-link {
        font-size: 16px;
        padding: 9px 12px;
    }
    .tab-content {
        padding: 4px 8px;
    }
    /********** Experience **********/
    #experiences .e-container {
        margin: 50px 10px;
    }
    #experiences .e-year {
        font-size: 16px;
    }
    #experiences .e-title {
        font-size: 18px;
    }
    #experiences .e-description {
        display: inline-block;
        font-size: 14px;
    }
}
